In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
names=["0","107","1684","1912","3437",'348',"3980","414","686","698"]
feat_file_names= ['facebook/'+x+".feat" for x in names]
featnames_filenames=['facebook/'+x+".featnames" for x in names]

In [3]:
for n in range(len(feat_file_names)):
    df = pd.read_csv(feat_file_names[n],header=None, sep=' ')
    if n==0:
        nodes_df = df[0]
    else: 
        nodes_df = pd.concat([nodes_df,df[0]])
nodes_df = nodes_df.drop_duplicates()

In [65]:
df_list = []
for i in range(len(feat_file_names)):
    #1st df
    c_df = pd.read_csv(feat_file_names[i], header=None, sep=' ')
    c = pd.read_csv(featnames_filenames[i], header=None,)[0].tolist()
    c2 = []
    for j in range(len(c)):
        c2.append(' '.join(c[j].split(' ')[1:]))
    nodes = c_df[0].tolist()
    c_df = c_df.drop(columns=[0])
    c = {v: k for v, k in enumerate(c2,1)}
    c_df = c_df.rename(columns=c)
    c_df.index = nodes
    df_list.append(c_df)

len(df_list)

10

In [67]:
my_nodes={}
for node in range(1,4036):
    my_nodes.setdefault(node, [])

for x in df_list:
    for node in range(1,4036):
        for i in x.index:
            if i==node:
                my_nodes[node].append(x.loc[node,])

In [96]:
my_nodes[2500][0]

birthday;anonymized feature 729                0
birthday;anonymized feature 730                0
birthday;anonymized feature 731                0
birthday;anonymized feature 732                0
birthday;anonymized feature 1                  0
birthday;anonymized feature 2                  0
birthday;anonymized feature 210                0
birthday;anonymized feature 4                  0
birthday;anonymized feature 5                  1
birthday;anonymized feature 6                  0
birthday;anonymized feature 7                  0
birthday;anonymized feature 377                0
birthday;anonymized feature 378                0
birthday;anonymized feature 733                0
birthday;anonymized feature 734                0
birthday;anonymized feature 735                0
birthday;anonymized feature 736                0
birthday;anonymized feature 737                0
birthday;anonymized feature 738                0
birthday;anonymized feature 739                0
birthday;anonymized feature 740                0
birthday;anonymized feature 741                0
education;classes;id;anonymized feature 742    0
education;classes;id;anonymized feature 743    0
education;classes;id;anonymized feature 744    0
education;classes;id;anonymized feature 745    0
education;classes;id;anonymized feature 746    0
education;classes;id;anonymized feature 747    0
education;classes;id;anonymized feature 748    0
education;classes;id;anonymized feature 749    0
                                              ..
work;projects;id;anonymized feature 999        0
work;start_date;anonymized feature 157         0
work;start_date;anonymized feature 310         0
work;start_date;anonymized feature 976         0
work;start_date;anonymized feature 196         0
work;start_date;anonymized feature 1000        0
work;start_date;anonymized feature 160         0
work;start_date;anonymized feature 197         0
work;start_date;anonymized feature 161         0
work;start_date;anonymized feature 162         0
work;start_date;anonymized feature 723         0
work;start_date;anonymized feature 1001        0
work;start_date;anonymized feature 198         0
work;start_date;anonymized feature 724         0
work;start_date;anonymized feature 1002        0
work;start_date;anonymized feature 164         1
work;start_date;anonymized feature 199         0
work;start_date;anonymized feature 165         0
work;start_date;anonymized feature 166         0
work;start_date;anonymized feature 200         0
work;start_date;anonymized feature 725         0
work;start_date;anonymized feature 201         1
work;start_date;anonymized feature 332         0
work;start_date;anonymized feature 726         0
work;start_date;anonymized feature 680         1
work;start_date;anonymized feature 168         0
work;start_date;anonymized feature 202         0
work;start_date;anonymized feature 169         0
work;start_date;anonymized feature 170         0
work;start_date;anonymized feature 681         0
Name: 2500, Length: 480, dtype: int64

In [89]:
var = []
var1 = []
for i in range(len(featnames_filenames)):
    c = pd.read_csv(featnames_filenames[i], header=None,)[0].tolist()
    for j in range(len(c)):
        var1.append(' '.join(c[j].split(' ')[1:-2]))
    for v in range(len(var1)):
        var.append(' '.join(var1[v].split(';')[:-1]))
var = pd.Series(var).unique().tolist()
var

['birthday',
 'education classes id',
 'education concentration id',
 'education degree id',
 'education school id',
 'education type',
 'education with id',
 'education year id',
 'first_name',
 'gender',
 'hometown id',
 'languages id',
 'last_name',
 'locale',
 'location id',
 'work employer id',
 'work end_date',
 'work location id',
 'work position id',
 'work start_date',
 'work with id',
 'middle_name',
 'work from id',
 'work projects id',
 'religion',
 'name',
 'political']

In [90]:
nodes_df

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
20     21
21     22
22     23
23     24
24     25
25     26
26     27
27     28
28     29
29     30
     ...
14    866
15    867
17    868
18    869
21    870
23    871
24    872
26    873
28    874
30    875
32    876
36    877
37    878
38    879
39    880
40    881
41    882
42    883
43    884
45    885
48    886
49    887
50    888
53    889
54    890
57    891
58    892
60    893
62    894
64    895
Name: 0, Length: 4035, dtype: int64